@charset "UTF-8";
.topPicture {
  background: #ff4747;
  min-height: 100px; }

.AtopPicture {
  background-image: url(https://img.ingping.com/images/ad_images/201811/201811291424530876437.jpg);
  background-repeat: no-repeat;
  display: block;
  min-height: 100px;
  background-position: center; }

.topNav {
  position: relative;
  z-index: 300;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #EDEEF0;
  background-color: #FCFCFC;
  font-family: "Microsoft YaHei", SimSun;
  font-size: 12px; }

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 1210px;
  line-height: 1.1;
  color: inherit; }

.tnLeft {
  float: left;
  padding: 12px 0px 8px; }
  .tnLeft .lr {
    color: #ddd; }
    .tnLeft .lr a {
      color: #ff6600;
      padding: 8px 3px; }

.tnRight {
  float: right;
  position: relative; }
  .tnRight h3 {
    float: left;
    position: relative;
    font-size: 12px;
    line-height: 1.1;
    color: inherit; }
    .tnRight h3 a {
      display: inline-block;
      zoom: 1;
      border: 1px solid #fcfcfc;
      padding: 12px 20px 8px; }
      .tnRight h3 a:hover {
        border: 1px solid #eaeaea;
        border-bottom: none;
        text-decoration: none;
        color: #ff6600; }
    .tnRight h3 span {
      float: right;
      margin-top: 1px;
      margin-left: 3px; }
    .tnRight h3 em {
      display: inline-block;
      width: 10px;
      height: 5px;
      margin: 0 0 0 2px;
      overflow: hidden;
      vertical-align: middle;
      font-size: 12px;
      line-height: 13px;
      background: url(https://static.ingping.com/yp/images/topNav_icon-1.0.0.png) 0 0px no-repeat; }
    .tnRight h3 ul {
      width: 100%;
      position: absolute;
      margin-top: -4px;
      display: none;
      z-index: 8;
      border: 1px solid #eaeaea;
      border-top: 0;
      background: #fff;
      -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }
    .tnRight h3:hover ul {
      display: block; }
    .tnRight h3:hover a {
      border: 1px solid #eaeaea;
      border-bottom: none; }
    .tnRight h3:hover .people {
      background: url("../image/人.svg") no-repeat;
      background-size: 15px; }
    .tnRight h3:hover .car {
      background: url("../image/购物车 (1).svg") no-repeat;
      background-size: 15px; }
    .tnRight h3:hover .heart {
      background: url("../image/心 (1).svg") no-repeat;
      background-size: 15px; }
    .tnRight h3 li {
      line-height: 35px;
      border-top: 1px solid #eaeaea; }
      .tnRight h3 li a {
        display: block;
        color: #333;
        padding: 0 15px; }
        .tnRight h3 li a span {
          display: inline-block;
          color: #ff6600;
          float: none; }
  .tnRight i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 2px; }
    .tnRight i img {
      display: inline-block;
      width: 15px;
      height: 15px; }
  .tnRight .people {
    background: url("../image/peple.svg") no-repeat;
    background-size: 15px; }
  .tnRight .car {
    background: url("../image/购物车.svg") no-repeat;
    background-size: 15px; }
  .tnRight .heart {
    background: url("../image/心.svg") no-repeat;
    background-size: 15px; }
  .tnRight .down {
    float: right; }
  .tnRight .carNum {
    position: absolute;
    top: 2px;
    right: 0px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #ff6600;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
    font-family: Arial,Verdana,"\5b8b\4f53";
    border: none; }
  .tnRight .phone {
    width: 245px;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 8; }
  .tnRight .tnt {
    border-bottom: 1px solid #eaeaea;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5px;
    position: relative;
    height: 135px; }
    .tnRight .tnt .imgs {
      width: 100px;
      position: absolute;
      top: 20px;
      left: 15px; }
    .tnRight .tnt .server {
      position: absolute;
      top: 55px;
      right: 25px; }
    .tnRight .tnt .serverP a {
      display: block;
      float: right;
      color: #fff;
      border: 1px solid #ff6600;
      border-radius: 20px;
      width: 80px;
      height: 29px;
      line-height: 26px;
      font-size: 14px;
      text-align: center;
      background: #ff6600;
      padding: 0; }
    .tnRight .tnt .num {
      margin-top: 10px;
      line-height: 18px;
      padding: 5px 0;
      color: #666; }
  .tnRight .tnm {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    height: 90px; }
    .tnRight .tnm figure span {
      float: left;
      display: inline-block;
      font-size: 42px;
      color: #777;
      left: 10px;
      position: relative;
      width: 40px;
      margin: 0;
      float: none; }
      .tnRight .tnm figure span img {
        width: 40px;
        display: block; }
    .tnRight .tnm figure figcaption {
      float: right;
      margin-right: 10px; }
      .tnRight .tnm figure figcaption .num1 {
        line-height: 18px;
        display: block;
        font-weight: 700;
        font-size: 20px;
        color: #ff6600;
        margin-bottom: 5px; }
      .tnRight .tnm figure figcaption .serverTime {
        color: #666; }
  .tnRight .tnb {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    border-top: 1px solid #e9e9e8;
    padding-left: 15px; }
    .tnRight .tnb div {
      float: left; }
    .tnRight .tnb .tnb_left {
      width: 60px;
      margin-top: 20px; }
      .tnRight .tnb .tnb_left img {
        margin-top: -5px;
        vertical-align: middle; }
    .tnRight .tnb .tnb_middle {
      margin-top: 22px;
      color: #959595; }
    .tnRight .tnb .tnb_right {
      margin-left: 10px; }
      .tnRight .tnb .tnb_right img {
        margin-top: -5px;
        vertical-align: middle; }

header {
  background: #fff !important;
  padding-top: 20px;
  min-width: 1230px;
  margin: 0 auto; }

.headerMain {
  position: relative; }
  .headerMain .logo1 {
    width: 220px;
    float: left; }
    .headerMain .logo1 a {
      color: #ff5600;
      text-decoration: none;
      display: block; }
    .headerMain .logo1 img {
      width: 100%;
      display: block; }
  .headerMain .logo2 {
    width: 190px;
    text-align: center;
    float: left;
    margin-left: 5px; }
    .headerMain .logo2 a {
      color: #ff5600;
      text-decoration: none;
      display: block; }
    .headerMain .logo2 img {
      display: block;
      height: 70px; }
  .headerMain .searchbox {
    height: 100px;
    width: 560px;
    float: left;
    margin-left: 10px; }
  .headerMain .search {
    position: relative;
    margin: 18px 0 0 0; }
  .headerMain .formsearch {
    float: left;
    border: 2px solid #ff6600;
    border-right: 0;
    position: relative; }
    .headerMain .formsearch ul {
      z-index: 9;
      /* display: none; */
      top: 40px;
      left: -2px;
      width: 460px;
      position: absolute;
      padding: 2px;
      margin: 0;
      outline: 0;
      border: 1px solid #ddd;
      background: #fff;
      color: #999;
      border-top: none; }
      .headerMain .formsearch ul li {
        margin: 0;
        padding: 0;
        width: 100%; }
        .headerMain .formsearch ul li a {
          color: #666;
          text-decoration: none;
          cursor: pointer;
          background-color: white;
          display: block;
          padding: 2px .4em;
          line-height: 1.5;
          min-height: 0;
          font-weight: 400; }
        .headerMain .formsearch ul li:hover a {
          color: #333;
          background: #f5f5f5; }
  .headerMain #search {
    color: #999999;
    width: 458px;
    height: 36px;
    margin-top: 0;
    padding: 8px 10px 8px 0;
    border: 0;
    _border: 0;
    background: #FFF;
    color: #333;
    font-size: 14px;
    padding-left: 10px;
    line-height: 18px;
    border-radius: 0;
    -webkit-border-radius: 0;
    float: left; }
  .headerMain #searchbtn {
    width: 90px;
    height: 36px;
    margin-top: 0;
    text-align: center;
    border: 0;
    cursor: pointer;
    background: #ff6600;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    float: left; }
  .headerMain .formtit {
    color: #666;
    float: left;
    width: 100%;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    _float: none;
    _position: relative;
    font-size: 0; }
    .headerMain .formtit a {
      float: left;
      margin-right: 10px;
      white-space: nowrap;
      font-size: 12px;
      color: #666; }
      .headerMain .formtit a:hover {
        color: #ff6600; }
  .headerMain .searchR {
    margin-top: 17px;
    position: absolute;
    right: 0;
    float: right; }
    .headerMain .searchR span {
      margin-right: 14px;
      position: relative;
      cursor: pointer;
      float: left; }
      .headerMain .searchR span:hover .smile {
        display: block; }
    .headerMain .searchR b {
      width: 1px;
      height: 34px;
      background: #ddd;
      right: 95px;
      top: 3px;
      display: inline-block;
      position: absolute;
      font-weight: 700; }
    .headerMain .searchR .smile {
      width: 200px;
      height: 120px;
      position: absolute;
      background: #fff;
      left: -69px;
      top: 42px;
      z-index: 9;
      display: none; }
      .headerMain .searchR .smile div {
        width: 110px;
        height: 110px;
        float: left; }
        .headerMain .searchR .smile div img {
          vertical-align: middle; }

.headerBottom {
  position: relative;
  height: 40px; }
  .headerBottom .mainNav {
    width: 210px;
    background: #ff6600;
    float: left; }
    .headerBottom .mainNav .allShopping {
      z-index: 9999;
      position: relative; }
      .headerBottom .mainNav .allShopping h2 {
        font-size: 14px;
        margin: 0;
        padding: 0; }
        .headerBottom .mainNav .allShopping h2 a {
          line-height: 40px;
          background-color: #ff6600;
          padding-left: 10px;
          width: 210px;
          display: block;
          height: 40px;
          color: #ffffff;
          font-size: 14px;
          font-weight: normal; }
      .headerBottom .mainNav .allShopping ul {
        z-index: 99999;
        position: absolute;
        background-color: #454545;
        background-color: rgba(50, 50, 50, 0.9);
        width: 210px;
        display: block;
        height: 450px;
        top: 40px;
        left: 0px; }
        .headerBottom .mainNav .allShopping ul li {
          padding: 10px 0 9px 15px;
          zoom: 1;
          clear: both;
          cursor: default;
          border-bottom: 1px solid #555; }
          .headerBottom .mainNav .allShopping ul li:hover {
            background: white; }
          .headerBottom .mainNav .allShopping ul li:hover .shopNav a {
            color: #666; }
          .headerBottom .mainNav .allShopping ul li:hover .shopNav-dd dd a {
            color: #666; }
          .headerBottom .mainNav .allShopping ul li:hover .shopclass {
            display: block;
            top: 0px;
            background: white; }
          .headerBottom .mainNav .allShopping ul li .shopNav {
            line-height: 1.5;
            padding-left: 0px; }
            .headerBottom .mainNav .allShopping ul li .shopNav a {
              color: #ffffff;
              font-size: 14px; }
              .headerBottom .mainNav .allShopping ul li .shopNav a:hover {
                color: #ff6600; }
          .headerBottom .mainNav .allShopping ul li .shopNav-dd {
            zoom: 1;
            color: #ffffff;
            clear: both;
            overflow: auto;
            padding-top: 1px; }
            .headerBottom .mainNav .allShopping ul li .shopNav-dd dd {
              line-height: 22px;
              float: left; }
              .headerBottom .mainNav .allShopping ul li .shopNav-dd dd a {
                display: inline-block;
                white-space: nowrap;
                color: #999;
                font-size: 12px;
                margin-right: 5px; }
                .headerBottom .mainNav .allShopping ul li .shopNav-dd dd a:hover {
                  color: #ff6600; }
          .headerBottom .mainNav .allShopping ul li .shopclass {
            position: absolute;
            border-left: medium none;
            min-height: 450px;
            padding: 10px 20px;
            width: 770px;
            display: none;
            min-height: 450px;
            left: 210px;
            background-color: #f7f7f7;
            -moz-box-shadow: 4px 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 0 5px rgba(0, 0, 0, 0.2);
            -webkit-transition: top .25s ease;
            -moz-transition: top .25s ease;
            transition: top .25s ease; }
            .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL {
              box-sizing: border-box;
              float: left;
              min-height: 1px;
              position: relative;
              width: 75%; }
              .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL dl {
                padding-bottom: 6px;
                color: #666666;
                padding-top: 0px;
                margin-right: -8px; }
                .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL dl dt {
                  padding-left: 0px;
                  font-size: 12px;
                  font-weight: 700;
                  color: #ff6600;
                  border-bottom: 1px solid #eee;
                  padding: 12px 0;
                  margin-right: 8px; }
                  .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL dl dt a {
                    color: #ff6600;
                    white-space: nowrap;
                    font-size: 12px;
                    margin-right: 5px; }
                .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL dl dd {
                  padding: 5px 0 0 0;
                  line-height: 22px;
                  float: left; }
                  .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL dl dd a {
                    display: inline-block;
                    white-space: nowrap;
                    color: #999;
                    font-size: 12px;
                    margin-right: 5px; }
                    .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL dl dd a span {
                      padding: 0 5px 0 15px;
                      display: inline-block;
                      color: #ddd;
                      font-size: 12px; }
                    .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundL dl dd a:hover {
                      color: #ff6600; }
            .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR {
              box-sizing: border-box;
              float: left;
              min-height: 1px;
              position: relative;
              width: 25%; }
              .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR {
                padding-left: 10px; }
                .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRT {
                  padding-bottom: 6px;
                  color: #666666;
                  padding-top: 0px;
                  margin-right: -8px; }
                  .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRT dt {
                    padding-left: 0px;
                    font-size: 12px;
                    font-weight: 700;
                    color: #ff6600;
                    border-bottom: 1px solid #eee;
                    padding: 10px 0;
                    margin-right: 8px; }
                  .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRT a {
                    width: 78px;
                    float: left;
                    margin: 8px 8px 0 0px;
                    display: inline-block;
                    overflow: hidden;
                    padding: 3px 0px 3px 7px;
                    background-color: #ff6600;
                    color: #fff !important;
                    height: 27px; }
                    .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRT a:hover {
                      background: #ff5600; }
                    .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRT a span {
                      margin-left: 5px;
                      font-family: "iconfont" !important;
                      font-size: 14px;
                      font-style: normal;
                      -webkit-font-smoothing: antialiased;
                      -webkit-text-stroke-width: 0.2px; }
                .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRB {
                  padding-bottom: 6px;
                  color: #666666;
                  padding-top: 0px;
                  margin-right: -8px; }
                  .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRB dt {
                    padding-left: 0px;
                    font-size: 12px;
                    font-weight: 700;
                    color: #ff6600;
                    border-bottom: 1px solid #eee;
                    padding: 10px 0;
                    margin-right: 8px; }
                  .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRB dd {
                    padding: 5px 0 0 0; }
                    .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRB dd a {
                      float: left;
                      text-align: center;
                      margin-bottom: 5px;
                      white-space: nowrap;
                      color: #999;
                      font-size: 12px;
                      margin-right: 5px; }
                      .headerBottom .mainNav .allShopping ul li .shopclass .sound .mainSoundR .mainSR .mainDRB dd a img {
                        height: 40px; }
  .headerBottom .middleNav li {
    margin-left: 50px;
    float: left;
    position: relative; }
    .headerBottom .middleNav li:hover .second1 {
      display: block; }
    .headerBottom .middleNav li:hover em {
      display: block; }
    .headerBottom .middleNav li .sA {
      display: block;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      font-weight: 700; }
      .headerBottom .middleNav li .sA:hover {
        color: #ff5600; }
    .headerBottom .middleNav li .second1 {
      z-index: 12000;
      display: block;
      overflow: hidden;
      display: none;
      width: 522px;
      border: 1px solid #ff6600;
      padding: 10px;
      position: absolute;
      z-index: 900;
      top: 40px;
      left: -120px;
      background: #fff;
      padding-bottom: 5px; }
      .headerBottom .middleNav li .second1 span {
        width: 100px;
        text-align: center;
        border-right: 1px solid #d1d1d1;
        float: left;
        margin-left: 0;
        margin-bottom: 10px; }
        .headerBottom .middleNav li .second1 span a {
          font-size: 13px;
          color: #333333;
          transition: color 0.3s ease; }
      .headerBottom .middleNav li .second1 .sec {
        border: none; }
      .headerBottom .middleNav li .second1 .more {
        color: #8d8d8d;
        border-right: none;
        font-size: 13px; }
    .headerBottom .middleNav li em {
      background: url("../image/小三角.jpg") no-repeat;
      width: 20px;
      height: 10px;
      display: block;
      position: absolute;
      bottom: -5px;
      z-index: 13000;
      left: 17px;
      display: none; }
  .headerBottom .lbanner {
    width: 220px;
    overflow: hidden;
    float: right;
    font-size: 16px; }
    .headerBottom .lbanner .lbanner-box {
      width: 220px;
      position: relative;
      height: 38px;
      line-height: 38px;
      overflow: hidden;
      padding-right: 24px;
      text-align: right;
      font-weight: 700; }
      .headerBottom .lbanner .lbanner-box .lbanner-img {
        position: absolute; }
        .headerBottom .lbanner .lbanner-box .lbanner-img a {
          display: block; }
          .headerBottom .lbanner .lbanner-box .lbanner-img a img {
            width: 100%; }
    .headerBottom .lbanner .lbtn {
      position: absolute;
      right: 5px;
      top: 8px; }
      .headerBottom .lbanner .lbtn a {
        width: 12px;
        height: 12px;
        display: block;
        overflow: hidden;
        line-height: 0;
        text-indent: -999em; }
      .headerBottom .lbanner .lbtn .lbtnl {
        background: url("../image/箭头_上.svg") no-repeat;
        background-size: 12px; }
        .headerBottom .lbanner .lbtn .lbtnl:hover {
          background: url("../image/箭头_上 (1).svg") no-repeat;
          background-size: 12px; }
      .headerBottom .lbanner .lbtn .lbtnr {
        background: url("../image/箭头_下灰白.svg") no-repeat;
        background-size: 12px; }
        .headerBottom .lbanner .lbtn .lbtnr:hover {
          background: url("../image/箭头_下黄.svg") no-repeat;
          background-size: 12px; }

.banner {
  min-width: 990px;
  position: relative;
  height: 450px;
  overflow: hidden;
  z-index: 0; }
  .banner .Mainul {
    position: relative;
    width: 100%;
    height: 450px; }
    .banner .Mainul li {
      background: #ffbc09;
      position: absolute;
      width: 1349px;
      left: 0px;
      top: 0px;
      display: none; }
      .banner .Mainul li a {
        height: 450px;
        width: 1210px;
        display: block; }
        .banner .Mainul li a img {
          margin: 0 auto;
          vertical-align: middle;
          width: 770px; }
    .banner .Mainul .active {
      display: block; }
  .banner .indexBtn {
    position: absolute;
    left: 495px;
    bottom: 10px;
    z-index: 10; }
    .banner .indexBtn span {
      cursor: pointer;
      display: inline-block;
      *display: inline;
      zoom: 1;
      width: 40px;
      height: 6px;
      margin: 4px;
      background: #fff;
      overflow: hidden;
      line-height: 9999px;
      filter: alpha(opacity=40);
      opacity: 0.4; }
    .banner .indexBtn .spactive {
      opacity: 0.9; }
  .banner .rList {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: 380px;
    width: 220px;
    height: 450px;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff; }
    .banner .rList .rList-up {
      text-align: left;
      overflow: hidden;
      height: 208px; }
      .banner .rList .rList-up .r1 {
        height: 38px;
        line-height: 38px;
        padding: 0 10px 0 10px;
        border-bottom: 1px solid #e8e8e8;
        position: relative; }
        .banner .rList .rList-up .r1 ul {
          float: left;
          position: absolute;
          left: 10px;
          height: 38px; }
          .banner .rList .rList-up .r1 ul li {
            float: left;
            margin: 0 10px;
            padding: 0 1px;
            cursor: pointer;
            font-size: 13px; }
          .banner .rList .rList-up .r1 ul .on {
            height: 38px;
            color: #ff6600;
            border-bottom: 3px solid #ff6600; }
      .banner .rList .rList-up .r2 ul {
        position: absolute;
        padding: 10px 15px;
        zoom: 1;
        background: white;
        display: none; }
        .banner .rList .rList-up .r2 ul li {
          height: 25px;
          font-size: 12px;
          line-height: 25px;
          width: 190px; }
          .banner .rList .rList-up .r2 ul li a {
            color: inherit;
            text-decoration: none;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
            .banner .rList .rList-up .r2 ul li a:hover {
              color: #ff6600; }
      .banner .rList .rList-up .r2 .ulactive {
        display: block; }
    .banner .rList .rList-down {
      border-width: 1px 0px 0px 0;
      border-color: #e8e8e8;
      border-style: solid;
      width: 222px;
      overflow: hidden; }
      .banner .rList .rList-down li {
        float: left;
        width: 74px;
        height: 80px;
        border-width: 0px 1px 1px 0px;
        border-color: #e8e8e8;
        border-style: solid;
        text-align: center;
        font-size: 12px; }
        .banner .rList .rList-down li a {
          cursor: pointer;
          text-decoration: none;
          text-align: center;
          display: block;
          padding-top: 8px;
          height: 80px; }
          .banner .rList .rList-down li a i {
            display: block;
            font-size: 2pc;
            line-height: 43px;
            height: 32px;
            width: 30px;
            margin-left: 23px;
            margin-top: 5px;
            -webkit-transition: font-size .25s ease-out 0s;
            transition: font-size .25s ease-out 0s; }
          .banner .rList .rList-down li a .i1 {
            background: url("../image/调音器.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i2 {
            background: url("../image/电视剧.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i3 {
            background: url("../image/手机.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i4 {
            background: url("../image/音箱.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i5 {
            background: url("../image/麦克风.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i6 {
            background: url("../image/投影仪.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i7 {
            background: url("../image/吉他-单色.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i8 {
            background: url("../image/耳机.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a .i9 {
            background: url("../image/会议.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a span {
            display: block;
            margin-top: 5px;
            color: #666; }
          .banner .rList .rList-down li a:hover span {
            color: #ff6600; }
          .banner .rList .rList-down li a:hover .i1 {
            background: url("../image/调音器 (1).svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i2 {
            background: url("../image/电视剧 (1).svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i3 {
            background: url("../image/手机 (1).svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i4 {
            background: url("../image/音箱 (1).svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i5 {
            background: url("../image/麦克风 (1).svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i6 {
            background: url("../image/投影仪 (1).svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i7 {
            background: url("../image/吉他色.svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i8 {
            background: url("../image/耳机 (1).svg") no-repeat;
            background-size: 30px; }
          .banner .rList .rList-down li a:hover .i9 {
            background: url("../image/会议 (1).svg") no-repeat;
            background-size: 30px; }

.bNav {
  margin-right: -5px;
  margin-top: 15px; }
  .bNav ul li {
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 9px; }
    .bNav ul li:hover .bNav-left {
      transform: translateX(184px) skew(20deg); }
    .bNav ul li:hover .bNav-right {
      transform: translateX(-184px) skew(20deg); }
  .bNav ul .bNav-li1 {
    margin-left: 5px; }
  .bNav ul .bNav-li2 {
    margin: 0; }
  .bNav ul .bNav-left {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: white;
    opacity: 0.3;
    top: 0;
    left: -100%;
    transform: skewX(20deg);
    transition: all .5s; }
  .bNav ul .bNav-right {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: white;
    opacity: 0.3;
    top: 0;
    right: -100%;
    transform: skewX(20deg);
    transition: all .5s; }

.like {
  display: block; }
  .like .mkf {
    margin-right: -5px;
    margin-left: -5px;
    position: relative; }
    .like .mkf li {
      box-sizing: border-box;
      float: left;
      min-height: 1px;
      position: relative;
      width: 20%;
      padding: 0 5px; }
      .like .mkf li div {
        background: #fff;
        height: 270px;
        overflow: hidden;
        text-align: center;
        padding: 0 14px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
        .like .mkf li div a {
          display: block;
          outline: 0; }
          .like .mkf li div a img {
            transition: transform 0.2s ease-in 0s;
            margin: 15px 0;
            display: inline-block;
            position: relative; }
          .like .mkf li div a p {
            display: block;
            max-width: 100%;
            width: 100%;
            overflow: hidden;
            text-align: left;
            height: 38px;
            font-size: 14px;
            line-height: 20px;
            word-wrap: break-word;
            word-break: break-all; }
          .like .mkf li div a:hover p {
            color: #ff6600;
            text-decoration: underline; }
          .like .mkf li div a:hover img {
            transform: translateX(5px); }
        .like .mkf li div .mkfval {
          padding: 3px 0;
          height: 25px;
          margin-top: 5px;
          text-align: left;
          font-family: arial;
          color: #ff6600;
          font-size: 16px;
          font-weight: 700;
          margin-right: 8px; }

.Mtit {
  overflow: hidden;
  margin: 30px 0px 10px 0;
  height: 33px;
  line-height: 33px;
  position: relative; }
  .Mtit h2 {
    font-size: 26px; }
    .Mtit h2 .com {
      font-family: "iconfont" !important;
      font-size: 14px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      float: left;
      margin: 4px 10px 0 5px; }
    .Mtit h2 .M1 {
      width: 26px;
      height: 28px;
      background: url("../image/心下 .svg") no-repeat;
      background-size: 26px; }
    .Mtit h2 .M2 {
      width: 30px;
      height: 32px;
      background: url("../image/热卖.svg") no-repeat;
      background-size: 30px; }
    .Mtit h2 .M3 {
      background: url("https://static.ingping.com/yp/images/result-1.0.0.png");
      width: 32px;
      height: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      margin-top: 6px; }
    .Mtit h2 .M4 {
      background-position: 0px -26px; }
    .Mtit h2 .M5 {
      background-position: 0px -52px; }
    .Mtit h2 .M6 {
      background-position: 0px -78px; }
    .Mtit h2 .M7 {
      background-position: 0px -104px; }
    .Mtit h2 .M8 {
      background-position: 0px -130px; }
    .Mtit h2 strong {
      font-weight: 700; }
  .Mtit .more {
    position: absolute;
    right: 0px;
    top: 5px; }
    .Mtit .more .replace {
      float: left;
      background: url("../image/刷新.svg") no-repeat;
      background-size: 14px;
      width: 14px;
      height: 15px;
      margin: 9px 5px 0 5px; }
    .Mtit .more .replaceA {
      display: inline-block; }
    .Mtit .more span {
      color: #999; }
    .Mtit .more a:hover {
      color: #ff6600; }

.hotsale {
  margin: 0 auto;
  position: relative; }
  .hotsale .hotshopL {
    width: 980px;
    float: left; }
    .hotsale .hotshopL .hotimg {
      float: left; }
      .hotsale .hotshopL .hotimg .hotimg1 {
        width: 400px;
        height: 195px;
        background: #fff;
        position: relative;
        overflow: hidden;
        display: block;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px; }
        .hotsale .hotshopL .hotimg .hotimg1 a {
          color: inherit;
          text-decoration: none; }
          .hotsale .hotshopL .hotimg .hotimg1 a img {
            width: 100%;
            height: 100%;
            display: block; }
      .hotsale .hotshopL .hotimg .hotimg2 {
        width: 400px;
        height: 400px;
        background: #fff;
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
        .hotsale .hotshopL .hotimg .hotimg2 a {
          color: inherit;
          text-decoration: none; }
          .hotsale .hotshopL .hotimg .hotimg2 a img {
            width: 100%;
            height: 100%;
            display: block; }
    .hotsale .hotshopL .hotimgright {
      float: right; }
      .hotsale .hotshopL .hotimgright .HTop {
        width: 570px;
        height: 195px;
        background: #fff;
        position: relative;
        overflow: hidden;
        display: block;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px; }
        .hotsale .hotshopL .hotimgright .HTop .Htit {
          position: absolute;
          top: 15px;
          left: 15px;
          width: 280px; }
        .hotsale .hotshopL .hotimgright .HTop img {
          transition: transform 0.2s ease-in 0s;
          position: absolute;
          bottom: 0px;
          right: 20px;
          width: 190px; }
        .hotsale .hotshopL .hotimgright .HTop:hover img {
          transform: translateX(-5px); }
  .hotsale .Hot {
    width: 28px;
    height: 31.11px;
    background: url("https://static.ingping.com/yp/images/cu-1.0.1.png") no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    line-height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 14px; }
  .hotsale .hotshopR {
    width: 200px;
    float: left;
    margin-left: 10px;
    display: block !important; }

.HdL {
  width: 350px;
  height: 195px;
  background: #fff;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-right: 10px;
  float: left; }
  .HdL .HdlB {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 180px;
    z-index: 2; }
  .HdL img {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 160px;
    z-index: 1;
    transition: transform 1s ease 0s; }
  .HdL:hover img {
    transform: translateX(-5px); }

.Hsm {
  color: #999; }

.el {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Hbi {
  margin-top: 8px;
  font-size: 18px !important;
  margin-bottom: 10px; }

.Hbil {
  font-size: 16px !important;
  margin-bottom: 10px; }

.Hmi {
  padding: 3px 0;
  height: 25px;
  margin-top: 2px;
  text-align: left;
  font-family: arial;
  color: #ff6600;
  font-size: 16px;
  font-weight: 700;
  margin-right: 8px; }

.Hsr {
  width: 210px;
  height: 195px;
  background: #fff;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }

.Hb2 {
  margin-bottom: 10px; }

.HdLgreen {
  background: #f1fff0; }

.HdLpink {
  background: #fff5eb; }

.Hcom {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 180px;
  z-index: 2; }

.Hsrcom {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 130px;
  z-index: 1;
  transition: transform 1s ease 0s; }

.Hsr:hover img {
  transform: translateX(-5px); }

.Logos {
  height: 70px;
  background: #fff;
  border-bottom: 2px solid #ff6600; }
  .Logos ul li {
    width: 120px;
    height: 70px;
    padding: 15px 0px;
    text-align: center;
    float: left; }
    .Logos ul li a {
      display: block; }
      .Logos ul li a img {
        height: 40px; }

.camero {
  width: 30px;
  height: 32px;
  background: url("../image/照相机.svg") no-repeat;
  background-size: 30px; }

.camerolist {
  margin-top: 15px;
  margin-right: -5px;
  margin-left: -5px; }

.comli {
  padding-right: 3px;
  padding-left: 3px;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  position: relative;
  width: 237px;
  background: #fff;
  margin-right: 5px; }
  .comli a {
    color: inherit;
    text-decoration: none; }
  .comli .camAt img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: 173px; }
  .comli .camAt p {
    height: 34px;
    margin: 15px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 17px; }
  .comli .camAt:hover p {
    color: #ff6600; }
  .comli .camAb {
    background: #f2f2f2;
    height: 66px;
    display: block;
    padding: 2px;
    margin: 15px; }
    .comli .camAb img {
      width: 62px;
      height: 62px;
      float: left;
      margin: 0; }
    .comli .camAb .camAP {
      font-size: 12px;
      line-height: 18px;
      overflow: hidden;
      height: 36px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-top: -1px; }
    .comli .camAb .camAbox {
      padding: 13px 10px 19px 10px;
      margin-left: 62px; }
    .comli .camAb:hover .camAP {
      color: #ff6600; }
  .comli .line {
    line-height: 0;
    border-top: 1px solid #ddd;
    float: none; }
  .comli .lP {
    color: #999;
    padding: 10px; }
    .comli .lP .lPl {
      max-width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      display: inline-block; }
    .comli .lP .lPr {
      float: right;
      color: #999999; }

.comlir {
  margin: 0; }

.calcu {
  width: 30px;
  height: 32px;
  background: url("../image/计算器.svg") no-repeat;
  background-size: 30px; }

.lpl1 {
  height: 40px !important;
  margin: 15px !important;
  overflow: hidden !important;
  font-size: 14px !important; }

.cimg {
  width: 214px !important;
  height: 145px !important; }

section {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  margin-top: -15px;
  padding-top: 15px; }

.footer {
  position: relative; }

.footT {
  display: block;
  height: 65px;
  background-color: #ff6600; }
  .footT .fou1 {
    color: #fff;
    margin-right: -5px;
    margin-left: -5px; }
    .footT .fou1 li {
      box-sizing: border-box;
      float: left;
      min-height: 1px;
      position: relative;
      width: 232px; }
      .footT .fou1 li a {
        text-align: center;
        height: 65px;
        width: 100%;
        line-height: 65px;
        color: #fff !important;
        font-size: 18px;
        float: left;
        font-weight: 700; }
      .footT .fou1 li .fouls {
        display: inline-block;
        float: left;
        margin-top: 15px;
        margin-left: 70px;
        margin-right: 10px; }
        .footT .fou1 li .fouls img {
          border: 0; }
      .footT .fou1 li .foulp {
        float: left; }

.footM {
  background-color: #fff;
  padding: 40px 0; }
  .footM .footM1 {
    margin: 0 0 10px; }
    .footM .footM1 .footM11 {
      float: left;
      margin-right: 260px; }
      .footM .footM1 .footM11 ul {
        margin-right: -5px;
        margin-left: -5px; }
        .footM .footM1 .footM11 ul li {
          box-sizing: border-box;
          float: left;
          min-height: 1px;
          position: relative;
          padding-right: 5px;
          padding-left: 5px;
          width: 158px; }
          .footM .footM1 .footM11 ul li dt {
            color: #333;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px; }
          .footM .footM1 .footM11 ul li dd {
            line-height: 24px;
            font-size: 12px; }
            .footM .footM1 .footM11 ul li dd a:hover {
              color: #ff6600; }
  .footM .footM2 {
    position: relative;
    float: right;
    width: 250px;
    margin-left: -250px; }
    .footM .footM2 img {
      position: absolute;
      top: -20px;
      width: 130px; }
    .footM .footM2 .footM21 {
      position: absolute;
      right: 0;
      top: 50px;
      text-align: right;
      color: #666; }
      .footM .footM2 .footM21 .fp1 {
        font-size: 18px !important; }
      .footM .footM2 .footM21 .fp2 {
        color: #ff6600;
        font-size: 30px !important; }
        .footM .footM2 .footM21 .fp2 strong {
          font-weight: 700; }
      .footM .footM2 .footM21 .fp4 {
        margin-top: 5px; }
        .footM .footM2 .footM21 .fp4 a {
          color: #ff6600;
          border: 1px solid #ff6600;
          border-radius: 5px;
          padding: 5px 35px;
          display: inline-block;
          margin-top: 5px; }
        .footM .footM2 .footM21 .fp4:hover a {
          color: white;
          background: #ff6600; }

.footB {
  background: #333;
  color: #a4a4a4;
  padding: 20px 0; }
  .footB .las1 {
    font-size: 16px !important;
    color: white;
    font-weight: 700; }
  .footB .las2 {
    line-height: 22px;
    margin-top: 10px; }
    .footB .las2 a {
      color: #a4a4a4; }
      .footB .las2 a:hover {
        color: #ff6600; }
  .footB .las3 {
    margin-top: 10px; }
    .footB .las3 a {
      margin-right: 10px;
      display: inline-block; }
  .footB .las4 {
    margin-top: 20px;
    font-size: 12px;
    height: 16px;
    color: #999;
    overflow: hidden; }
    .footB .las4 a {
      color: #a4a4a4;
      margin-right: 5px;
      display: inline-block; }
      .footB .las4 a:hover {
        color: #ff5600; }

.Tnavul {
  list-style: none;
  position: fixed;
  width: 40px;
  bottom: 50px;
  left: 50%;
  margin-left: -650px;
  transition: all 0.3s ease;
  transform-origin: 0 100%;
  display: none; }
  .Tnavul .Tnav {
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 14px;
    position: relative;
    background: #ff6600;
    border-bottom: 1px solid #f1f1f1; }
  .Tnavul .Lnav {
    border-bottom: 1px solid #f1f1f1; }
    .Tnavul .Lnav a {
      background: #666;
      color: #fff;
      display: block;
      font-size: 12px;
      height: 40px;
      padding: 5px 5px 0 5px;
      line-height: 15px;
      text-decoration: none;
      text-align: center; }
    .Tnavul .Lnav:hover a {
      background: #ff6600; }
  .Tnavul .backtop a {
    background: #8a8a8a;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 40px;
    padding: 5px 5px 0 5px;
    line-height: 15px;
    text-decoration: none;
    text-align: center; }
    .Tnavul .backtop a .Tv {
      width: 15px;
      height: 15px;
      display: inline-block;
      background: url("../image/箭头 上 (白）.svg") no-repeat;
      background-size: 15px; }

.nav-show {
  background: #ff5600 !important;
  color: white !important; }
